
<h1>This is my products homepage</h1>



<% @products.each do |product|%>
  <div class="col-md-4">
    <div class="jumbotron">
    <div class="container">
      <h3><%= link_to product.name, "/products/#{product.id}" %>:</h3>
      <image class = "product_image" src=<%= product.image %>></image>
      <h3><%= number_to_currency(product.price * 1.09) %></h3>
      <h4><%= product.description %></h4>
      <p><a class="btn btn-danger btn-lg" href="/products/<%= product.id %>" role="button">Add to cart</a></p>
    </div>
    </div>
  </div>
<% end %>

