
<h1 class="page-header">These are all of my beautiful products:

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By: <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/products?sort=name">Sort by Name</a></li>
      <li><a href="/products?sort=price">Sort by Price low to high</a></li>
      <li><a href="/products?sort=price::desc">Sort by Price high to low</a></li>
      <li><a href="/products?sort=id::desc">Sort by Newest first</a></li>
      <li><a href="/products?sort=id">Sort by Oldest first</a></li>
    </ul>
  </div>

</h1>

<div class="row">
<% @products.each do |product|%>
  <div class="col-sm-6 col-lg-4">
    <div class="<%= product.discounted? %>">
    <div class="container">
      <h2 class = "product-name"><%= link_to product.name, "/products/#{product.id}" %>:</h2>
      <%= image_tag(product.image, class: "product-image")%>
      <h3 class = "price"><%= number_to_currency(product.price) %></h3>
      <h4><%= product.description %></h4>
      <p><a class="btn btn-primary btn-lg" href="/products/<%= product.id %>" role="button">Add to cart</a></p>
    </div>
    </div>
  </div>
<% end %>
</div>
