
<h1 class="page-header">These are all of my beautiful products:

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @sort_column %>: <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/products?sort=Name">Sort by Name</a></li>
      <li><a href="/products?sort=Price">Sort by Price low to high</a></li>
      <li><a href="/products?sort=PriceDesc">Sort by Price high to low</a></li>
      <li><a href="/products?sort=IdDesc">Sort by Newest first</a></li>
      <li><a href="/products?sort=Id">Sort by Oldest first</a></li>
    </ul>
  </div>

  <div class = "form-inline searchy">
    <%= form_tag "/products/search", method: :post do %>
      <%= text_field_tag :name, "Search", class: "form-control" %>
      <%= submit_tag "Let's Go", class: "btn btn-default" %>
    <% end %>
  </div>

</h1>

<div class="row">
<% @products.each do |product|%>
  <div class="col-sm-6 col-lg-4">
    <div class="<%= product.discounted? %>">
    <div class="container">
      <h2 class = "product-name"><%= link_to product.name, "/products/#{product.id}" %>:</h2>
      <%= image_tag(product.images[0].image_src, class: "product-image")%>
      <h3 class = "price"><%= number_to_currency(product.price) %></h3>
      <h4><%= product.description %></h4>
      <p><a class="btn btn-primary btn-lg" href="/products/<%= product.id %>" role="button">Add to cart</a></p>
    </div>
    </div>
  </div>
<% end %>
</div>
