<h1 class="page-header">Add a new image for a product</h1>

<%= form_tag "/images", method: :post do %>
  <div class="form-group">
    <%= label_tag :image_src %>
    <%= text_field_tag :image_src, @image.image_src, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :product_id %>
    <%= text_field_tag :product_id, @product.id, class: "form-control", :readonly => true %>
  </div>

  <div>
    <%= submit_tag "Save Image", class: "btn btn-danger btn-lg" %>
  </div>

<% end %>